body {
  background-color: midnightblue;
}

.slider > input {
  accent-color: antiquewhite;
}

.bi-volume-off-fill {
  position: relative;
  color: antiquewhite;
  bottom: 3px;
}

.game-over {
  background: brown;
}

p,
hr {
  color: antiquewhite;
  font-family: "Pixelify Sans", cursive;
}

h1 {
  color: antiquewhite;
  font-family: "Pixelify Sans", cursive;
  font-size: 4rem;
}

.button {
  height: 10rem;
  width: 10rem;
  min-width: 10rem;
  border: 0.5rem solid black;
  border-radius: 25%;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}
